<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="bary.apps.moviesLib">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
            android:name=".MoviesApplication"
            android:forceDarkAllowed="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="AllowBackup"
            android:allowBackup="true"
            tools:targetApi="q">
        <activity
                android:name=".ui.MainActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.movies.searchMovies.SearchActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="stateVisible">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.movies.details.MovieDetailActivity"
                android:configChanges="orientation|keyboardHidden|screenSize|layoutDirection"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.movies.favourites.FavouritesActivity"
                android:parentActivityName="bary.apps.moviesLib.ui.MainActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.movies.watchlist.WatchlistActivity"
                android:parentActivityName="bary.apps.moviesLib.ui.MainActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>